.coins-table {
    width: fit-content;
    max-height: calc(89% - 1.6rem);
    background-color: #333333;

    margin: 0 auto 0 0;
    border-radius: .6rem;

    overflow: auto;
}

table {
    min-width: 100%;
    overflow: hidden;
    color: white;
    font-size: 62.5%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    background-color: #333333;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 400;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #444444;
}

table th{
    font-size: 1.2em;
}

table td{
    font-size: 1.4em;
    border-top: 2px solid #272727;
}