.coins-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
  
#name-col{
    display: flex;
    align-items: center;
    justify-content: start;
}
  
