.coins-table {
    min-width: fit-content;
    max-height: calc(89% - 1.6rem);
    background-color: #333333;

    margin: 0 auto 0 0;

    overflow: auto;
}

table {
    width: 100%;
    overflow: hidden;
    color: white;
    font-size: 62.5%;
}

td img {
    width: 3.6em;
    height: 3.6em;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    background-color: #333333;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 400;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #444444;
}

table th{
    font-size: 1.2em;
}

table td{
    font-size: 1.4em;
    border-top: 2px solid #272727;
    border-bottom: 2px solid #272727;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.8em auto 2.6em auto;
    width: fit-content;

}

.pagination button{
    cursor: pointer;
    border: none;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: .4em .8em;
    border-radius: .4em;
}

.pagination button:hover{
    background: rgba(255, 255, 255, 0.2);;
}

.pagination span{
    color: rgba(255, 255, 255, 0.5);
    margin: 0 .8em;
}

.price-positive-change-24h{
    color: #57BC76;
}

.price-negative-change-24h{
    color: #E14141;
}

@media (max-width: 44rem) {
    .coins-table{
        max-width: 90vw;
    }

    .pagination{
        margin-bottom: 2.6rem;
    }

    table{
        overflow: scroll;
    }

    td img {
        width: 2.6em;
        height: 2.6em;
    }

}