nav{
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFF;
    font-size: 62.5%;
    padding: 0 3.2em;
    background: linear-gradient(135deg, rgba(73,73,73,1) 0%, rgba(73,73,73,0.05) 100%);
}

.left-nav{
    font-family: var(--secondary-font);
    display: flex;
}

.left-left-nav{
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
}

.left-left-nav h1{
    font-size: 3em;
    color: #FFFF;
}

nav .left-right-nav{
    font-family: var(--main-font);
    display: flex;
    align-items: center;
    gap: 3.2em;
    padding-left: 4.8em;
}

.left-right-nav li{
    list-style: none;
}

.left-right-nav li a{
    font-size: 1.6em;
    text-decoration: none;
    color: #FFFF;
}

.right-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.8em;
}

select{
    font-family: var(--main-font);
    cursor: pointer;
    background: none;
    color: #FFFF;
    border: none;
    font-size: 1.6em;
}

select option{
    color: black;
}

.profile-link{
    height: 4.4em;
}


.profile-pic{
    height: 4.4em;
    clip-path: circle();
}


/*Animate the hover/focus nav links*/
.navlink{
    position: relative;
    transition: ease-out 0.15s;
}

.navlink::after{
    content: '';
    height: 4px;
    width: 0%;
    background: #47A663;
    position: absolute;
    left: 0;
    bottom: -2em;
    transition: ease-in-out 0.15s;
    opacity: 0.5;
}

.navlink:hover::after,
.navlink:focus::after{
    width: 100%;
    opacity: 1;
}

.navlink:focus{
    color: #47A663;
}

.navlink.active {
    color: #47A663;
}

.navlink.active::after {
    background: #47A663;
}

.mobile-nav-toggle{
    display: none;
}



/*change to humberger 44rem */


/*humberger nav style*/
@media (max-width: 44rem) {
    h1{
        color: red;
    }
    
    nav{
        position: relative;
    }

    nav[data-overflow='true']{
        overflow-x: hidden;
    }


    nav .left-right-nav{
        z-index: 10;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        flex-direction: column;
        align-items: start;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        height: 100vh;
        width: 44vw;
        padding: 8rem 5rem 0 4rem;
        font-size: .8rem;

        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }
    
    nav .left-right-nav[data-visible='true']{
        transform: translateX(0%);
    }

    .profile-link{
        display: none;
    }

    .select-curr{
        display: none;
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        right: 2rem;
        top: .6rem;
        z-index: 9999;
        color: white;
        aspect-ratio: 1;
        background-color: transparent;
        border: 0;
    }

}