.wallet-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: white;

    position: absolute;
    left: 2.88em;
    right: 2.88em;
    bottom: 11.1em;

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.8em;

    background: linear-gradient(50deg, rgba(73, 73, 73, 1) 0%, rgba(73,73,73,0) 100%);

    height: 24.5em;
}

.wallet-menu-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wallet-menu-illustration{
    position: absolute;
    bottom: 17.6em;
}

.wallet-menu-title{
    text-align: center;
    font-size: 1.6em;
    margin: 0;
}

.wallet-menu-text{
    text-align: center;
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.2em;
    margin: 1.2em 0.7em 2.4em 0.7em;
}

.wallet-menu-btn{
    font-family: var(--main-font);
    background-color: #57BC76;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    width: 100%;
    height: 3.8em;
    border: none;
    border-radius: 0 0 0.4rem 0.4rem ;
}