.wallet-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: white;
   
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.8em;
    
    background: linear-gradient(50deg, rgba(73, 73, 73, 1) 0%, rgba(73,73,73,0) 100%);
    
    width: 30em;
    height: 24.5em;

    position: fixed;
    top: 44.12em;
}

.wallet-menu-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.wallet-menu-illustration{
    width: 16.1em;

    position: absolute;
    bottom: 17.6em;

}

.wallet-menu-title{
    text-align: center;
    font-size: 1.6em;
    margin: 0;
}

.wallet-menu-text{
    text-align: center;
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.2em;
    margin: 1.2em 0.7em 2.4em 0.7em;
}

.wallet-menu-btn{
    background-color: #57BC76;
    width: 100%;
    border: none;
    border-radius: 0 0 0.4rem 0.4rem ;
    text-align: center;
}

.wallet-menu-btn button{
    cursor: pointer;
    font-family: var(--main-font);
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    background: none;
    border: none;
    height: 3.6em;
}