:root {
    --main-font: 'Inter', sans-serif;
    --secondary-font: 'Epilogue', sans-serif;

    --main-color: '';
  }

  
  body {
    font-family: var(--main-font);
    background-color: #2B2C2B;
  }
  